<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Anpe Tecnologia</mat-label>
      <input matInput disabled value="">
    </mat-form-field>
  
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nome</mat-label>
              <input matInput [(ngModel)]="pessoaModel.nome" name="nome" disabled>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Sobrenome</mat-label>
              <input matInput [(ngModel)]="pessoaModel.sobrenome" name="sobrenome" disabled>
            </mat-form-field></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>CPF</mat-label>
              <input matInput [(ngModel)]="pessoaModel.cpf" name="cpf" disabled>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>CNPJ</mat-label>
              <input matInput [(ngModel)]="pessoaModel.cnpj" name="cnpj" disabled>
            </mat-form-field></td>
          </tr></table>
        
          <p>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>CEP</mat-label>
              <input matInput [(ngModel)]="pessoaModel.cep" name="cep" placeholder="Ex. 01001-000" disabled>
            </mat-form-field>
          </p>

            <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>UF</mat-label>
              <input matInput [(ngModel)]="pessoaModel.uf" name="uf" placeholder="Ex. SP" disabled>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Estado</mat-label>
              <input matInput [(ngModel)]="pessoaModel.localidade" name="localidade" placeholder="Ex. São Paulo" disabled>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Logradouro</mat-label>
              <input matInput [(ngModel)]="pessoaModel.logradouro" name="logradouro" placeholder="Ex. Praça da Sé" disabled>
            </mat-form-field></td>
          </table>
          <table>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Bairro</mat-label>
              <input matInput [(ngModel)]="pessoaModel.bairro" name="bairro" placeholder="Ex. Sé" disabled>
            </mat-form-field></td>
            <td><mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Complemento</mat-label>
              <input matInput [(ngModel)]="pessoaModel.complemento" name="complemento" placeholder="Ex. lado ímpar" disabled>
            </mat-form-field></td>
          </table>
          
        <div>
          <button mat-raised-button color="primary" (click)="delete()">Deletar</button>
          <button mat-raised-button color="primary" routerLink="/">Cancelar</button>
        </div>
          
        </form>